.header {
    border-bottom: none;
}

.header-nav__item a {
    display: inline-block;
    text-decoration: none;
    background: rgba(240, 240, 240, 0.6);
    color: rgb(217, 198, 181);
    font-size: 20px;
}

.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.register-form__heading {
    color: #8B7969;
    font-size: 35px;
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    padding-top: 50px;
    width: 70%;
    background-color: #fff;
    text-align: center;
}

.form__group {
    display: inline-block;
    margin-bottom: 5px;
    width: 50%;
}

.form__group-title {
    width: 50%;
    font-size: 25px;
    color: #8B7969;
    text-align: left;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    background: rgb(244, 244, 244);
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.form__button {
    margin-top: 10px;
}

.form__button-submit {
    padding: 10px;
    margin: 50px 0;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #8B7969;
    color: #fff;
    cursor: pointer;
}

/* .login__link {
    margin-top: 20px;
    text-align: center;
} */